@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  section {
    @apply mb-32;
  }

  nav {
    @apply lg:absolute-centered z-50 flex max-lg:absolute max-lg:left-0 max-lg:w-full max-lg:flex-col max-lg:bg-white max-lg:px-10 max-lg:text-center lg:gap-2;
  }

  nav:not(.nav-opened) {
    @apply max-lg:hidden;
  }
  nav.nav-opened {
    @apply max-lg:top-full;
  }
  nav a,
  nav .services-menu__handle {
    @apply lg:duration-base max-lg:py-4 lg:cursor-pointer lg:px-3 lg:py-1 lg:transition-all;
  }
  nav a:not(:last-child),
  nav .services-menu__handle {
    @apply max-lg:border-b;
  }
  nav a.home {
    @apply lg:bg-hint lg:text-white;
  }
  nav a:not(.home),
  nav .services-menu__handle {
    @apply lg:hover:text-hint;
  }

  nav .services-menu:hover .services-menu__panel {
    @apply lg:block;
  }

  nav .services-menu .services-menu__panel.services-opened {
    @apply max-lg:block;
  }

  nav .services-menu__panel li {
    @apply max-lg:py-4 lg:px-4 lg:py-1;
  }

  h1,
  h2,
  h3,
  h4,
  h4 {
    letter-spacing: -0.0225rem;
  }

  h1 {
    @apply font-wide mt-20 text-center text-6xl;
  }

  h2 {
    @apply mb-8 text-4xl font-black;
  }

  h3 {
    @apply text-2xl font-bold;
  }

  button {
    @apply block-shadow w-fit px-5 py-2 text-center font-wide text-xl font-black uppercase;
    letter-spacing: 0.1rem;
  }

  button.primary {
    @apply hover:bg-hint-dark duration-base origin-center bg-hint text-white transition-all hover:scale-110;
  }

  footer .footer-block {
    @apply flex flex-col items-center lg:block;
  }

  footer h6 {
    @apply mb-9 text-lg font-bold;
  }

  footer ul {
    @apply flex flex-col gap-4;
  }

  footer li > * {
    @apply duration-base flex cursor-pointer items-center justify-center gap-3 font-light text-white transition-all hover:text-hint sm:justify-start;
  }
}

@layer components {
  .absolute-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }

  .px-main {
    @apply px-6 md:px-16 lg:px-6 xl:px-25;
  }

  .block-shadow {
    box-shadow:
      3px 2px 8px 0 rgba(0, 0, 0, 0.1),
      12px 9px 15px 0 rgba(0, 0, 0, 0.09),
      27px 21px 21px 0 rgba(0, 0, 0, 0.05),
      48px 38px 24px 0 rgba(0, 0, 0, 0.01),
      75px 59px 27px 0 rgba(0, 0, 0, 0);
  }

  .display-on-scroll {
    @apply translate-y-1/2 opacity-0 transition-all duration-1000;
  }

  .scroll-visible {
    @apply translate-y-0 opacity-100;
  }
}

.bg-price-individual {
  background-image: url('/img/pricings/price-individual.jpg');
}
.bg-price-group {
  background-image: url('/img/pricings/price-group.jpg');
}
.bg-price-plans {
  background-image: url('/img/pricings/price-plans.jpg');
}
.bg-price-bilan {
  background-image: url('/img/pricings/price-bilan.jpg');
}
